.texto-titulo{
    margin-top: 4vh;
    margin-bottom: 4vh;
    color:var(--color_auxiliar)
}

.texto-normal{
    color:var(--color_profundo)
}

.texto-subtitulo{
    margin-top: 2vh;
    color:var(--color_profundo)
}


.tarjeton{
    margin-bottom: 3vh;
    padding: 2vh 2vh 2vh 2vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background-color: var(--color_secundario);
    background: linear-gradient(to right,  var(--color_secundario), var(--color_primario));
    box-shadow: 5px 10px 18px var(--color_auxiliar);
  }